


body {
    margin: 0;
    padding: 0;
    width: 120rem;

  }



/* header {
    position: absolute;
    width: 138px;
    height: 62.09px;
    left: 390px;
    top: 20px;
} */

/* #header-tablet {
  width: 51.25rem;
  height: 5.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  padding: 0.5%;
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.menu-btn spam {
  width: 100%;
  height: 3px;
  background-color: #DD71C6;
} */

/* #first-block {
    height: 760px;
    width: 1920px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #F9F9F9;
    position: relative;
  } */


  #section-one {
    position: absolute;
    width: 120rem;
    height: 47.5rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

    background-image: url(/images/Background\ color.png);
    /* background-position: center; */
    background-size: cover;

    display:flex;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  /* #rectangle-10 {
    visibility: hidden;

  } */

  #mobile-menu{
    visibility: hidden;
  }

  #chicago-mobile {
    visibility: hidden;
  }

  #only-spot-mobile {
    visibility: hidden;
  }

  #limited-spots-mobile-block {
    visibility: hidden;
  }


  #limited-spots-mobile-txt {
    visibility: hidden;
  }


#group45 {
    position: absolute;
    width: 8.625rem;
    height: 3.88rem;
    left: 24.37rem;
    top: 1.25rem;
  }



  #about-us {
    position: absolute;
    width: 4.125rem;
    height: 1.06rem;
    left: 36.31rem;
    top: 2.44rem;
  
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.06rem;
    color: #333333;
  }


  #book-online {
    position: absolute;
    width: 5.44rem;
    height: 1.06rem;
    left: 42.68rem;
    top: 2.44rem;
  
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.06rem;
    color: #333333;
  }

  #weight-loss-programs {
    position: absolute;
    width: 9.94rem;
    height: 1.06rem;
    left: 50.37rem;
    top: 2.44rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.06rem;
    color: #333333;
  }



  #real-patient-stories {
    position: absolute;
    width: 8.56rem;
    height: 1.06rem;
    left: 62.56rem;
    top: 2.44rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.06rem;
    color: #333333;
}



#locations {
    position: absolute;
    width: 4.25rem;
    height: 1.06rem;
    left: 73.37rem;
    top: 2.44rem;
  
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.06rem;
    /* identical to box height */
    color: #333333;
  }

  
  #blog {
    position: absolute;
    width: 2.06rem;
    height: 1.06rem;
    left: 79.87rem;
    top: 2.44rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.06rem;
    color: #333333;
  }


  
  #shop {
    position: absolute;
    width: 2.31rem;
    height: 1.06rem;
    right: 33.5rem;
    /* left: 1347px; */
    top: 2.44rem;
    /* right: 536px; */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.06rem;
    color: #333333;
   }



   #subscription {
    position: absolute;
    width: 5.56rem;
    height: 1.06rem;
    /* left: 1420px; */
    right: 25.69rem;
    top: 2.44rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.06rem;
    color: #333333;
    text-align: left;
  }



  .chicago-div {
    position: absolute;
    width: 27.31rem;
    height: 17rem;
    left: 24.37rem;
    /* top: 203px; */
    top: 9.19rem;
  }

  .chicago-txt {
    position: absolute;

    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.81rem;
    line-height: 150%;
    color: #333333;
}

.free {
  color: #DD71C6;
  }


  .limited-spots-txt {
    position: absolute;
    width: 28.69rem;
    height: 4.87rem;
    left: 24.37rem;
    /* top: 501px; */
    top: 29.62rem;

   
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
/* or 26px */


color: #333333;
  }



  .btn {
    cursor: pointer;
    border: none;


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.625rem 0.875rem;
    gap: 0.625rem;

    position: absolute;
    width: 13.4375rem;
    height: 2.5rem;
    left: 24.375rem;
    top: 37.8125rem;

    background: #DD71C6;

  }

  .btn-txt {
    width: 11.6875rem;
    height: 1.25rem;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;

    /* display: flex; */
    align-items: center;
    text-align: center;
    top: 0.625rem;
    left: 0.875rem;

    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .btn:hover{
    background: #ab3b93;
  }

   
  #frame63 {
    position: absolute;
    width: 39.31rem;
    height: 20.06rem;
    /* left: 901px; */
    right: 24.37rem;
    top: 11.37rem;
    bottom: 16.06rem;
    /* background: linear-gradient(107.9deg, rgba(255, 255, 255, 0.51) 9.7%, rgba(255, 255, 255, 0.49) 88.76%); */
    backdrop-filter: blur(33.5px);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 41px 36px; */
  }

  /* *********************************************************************************************************************************** */
#section-two {
  margin: 0;
  position: absolute;
  width: 120rem;
  height: 35.625rem;
  left: 0px;
  top: 47.5rem;
  /* background-color: #DD71C6; */
  background-image: url(/png/main-container/Banner&get\ to\ know\ us.png) ;
  /* background-position: center; */
  background-size: cover;

  display: flex;
}

#pink-background {
    background-color: #DD71C6;
    /* border-radius: 50px 0px 0px 0px; */
    position: absolute;
    /* top: 0; */
    top: 70%;
    width: 100%;
    height: 30%;
}

/* #ellipse-section-two {
    box-sizing: border-box;
    position: absolute;
    width: 185px;
    height: 185px;
    left: 118px;
    top: 156px;
    opacity: 0.15;
    border: 28px solid #FFFFFF;
    border-radius: 50% 50%;
  } */

  /* #another-ellipse-section-two {
    box-sizing: border-box;
    position: absolute;
    width: 308px;
    height: 308px;
    left: 1810px;
    top: 55px;
    opacity: 0.15;
    border: 28px solid #FFFFFF;
    border-radius: 50% 50%;



    -webkit-clip-path: ellipse(154px 154px at center);
    clip-path: ellipse(154px 154px at center);

}
   */

/* #four-boxes {
  width: 59.37%;
  margin: 50px auto;
}

#section-two ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
} */

#btn-section-two {
    cursor: pointer;
    border: none;


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.625rem 0.875rem;
    gap: 0.625rem;

    position: absolute;
    width: 13.4375rem;
    height: 2.5rem;
    left: 53.3125rem;
    top: 26.9625rem;
    background: #FFD900;

   


    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 14px;
    gap: 10px;

    position: absolute;
    width: 215px;
    height: 40px;
    left: 853px;
    top: 431.4px;
    top: 427.5px;

    background: #FFD900;
    ; */

}

.btn-two-txt {
    width: 11.69rem;
    height: 1.25rem;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;

    /* display: flex; */
    align-items: center;
    text-align: center;
    top: 0.62rem;
    left: 0.87rem;

    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0;
}

#btn-section-two:hover{
  background: #ab3b93;
}

  /* *********************************************************************************************************************************** */
  #section-three {
    margin: 0;
    position: absolute;
    width: 120rem;
    background-color: #73C3F4;
    height: 49.9375rem;
    top: 83.125rem;
    left: 0;
    overflow: hidden;
    /* display: flex;
    flex-direction: row; */

  }

  /* #main-container-section-three {
    position: relative;
    height: 100%;
    width: 100%;
  } */

  #left-container {
    float: left;
    width: 50%;
  }

  #right-container {
    float: right;
    width: 50%;

  }

  #heading-one {
    position: absolute;
    width: 30.6875rem;  /* 491px */
    height: 3.1875rem;  /* 51px */
    left: 24.3125rem;   /* 389px */
    top: 8.5rem;    /* 136px */
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    /* line-height: 51px; */
    color: #FFFFFF;

  }

  #heading-one-mobile  {
    visibility: hidden;
  }

  #paragraph-one-mobile {
    visibility: hidden;
  }

  #paragraph-two-mobile {
    visibility: hidden;
  }

  /* #little-mobile-girl {
    visibility: hidden;
  } */


  #paragraph-one {
    position: absolute;
    width: 24.25rem;    /* 388px */
    height: 8.125rem;   /* 130px */
    left: 24.3125rem;     /* 389px */
    top: 12.625rem;      /* 202px */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    /* line-height: 26px; */
    color: #FFFFFF;

  }

  #heading-two {
    position: absolute;
    width: 19.5625rem;  /*313px  */
    height: 3.1875rem;   /* 51px */
    left: 24.3125rem;   /*389px  */
    top: 24.125rem;    /*386px  */
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    /* line-height: 51px; */
    color: #FFFFFF;

  }

  #paragraph-two {
    position: absolute;
    width: 25.1875rem; /*403px*/
    height: 6.5rem;    /* 104px*/
    left: 24.3125rem;            /* 389px */
    top: 28.25rem;          /* 452px */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    /* line-height: 26px; */
    color: #FFFFFF;

  }

  #btn-section-three {

    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.625rem 0.875rem;
    gap: 0.625rem;

    position: absolute;
    width: 13.4375rem;
    height: 2.5rem;
    left: 24.3125rem;
    top: 37.0625rem;

    background: #DD71C6;

  }

  .btn-three-txt {
    width: 11.6875rem;
    height: 1.25rem;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;

    /* display: flex; */
    align-items: center;
    text-align: center;
    /* top: 0.62rem;
    left: 0.87rem; */

    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0;

  }

  

  #btn-section-three:hover{
    background: #ab3b93;
  }

  /* #left-ellipse {
    
    box-sizing: border-box;

    position: absolute;
    width: 271px;
    height: 271px;
    left: -136px;
    top: 350px;

    border: 28px solid #FFFFFF;
  } */

  #left-ellipse {
    box-sizing: border-box;
    position: absolute;
    width: 16.9375rem;    /* 271  px*/
    height: 16.9375rem;    /* 271  px*/
    left: -8.5rem;    /*   -136px*/
    top: 21.875rem;     /*  350 px*/
    border-radius: 50%;
    border: 28px solid #FFFFFF;
  }

  #right-ellipse {
    box-sizing: border-box;

    position: absolute;
    width: 30.5625rem;  /*  489 px*/
    height: 30.5625rem;  /* 489  px*/
    left: 104.6875rem;   /* 1675  px*/
    top: 7.1875rem;      /*  115 px*/

    opacity: 0.15;
    border-radius: 50%;
    border: 28px solid #FFFFFF;
  }

  .mobile-version-girl {
    visibility: hidden;

  }

  #girly-ellipse {
    box-sizing: border-box;
    position: absolute;
    width: 25.25rem;  /* 404px*/
    height: 25.25rem;  /* 404px*/
    left: 66.4375rem;  /* 1063px*/
    top: 16.6875rem;    /* 267px*/
    border: 28px solid #FFFFFF;
    border-radius: 50%
  }

  #girl {
    position: absolute;
    width: 28.699375rem;  /* 459.19px*/
    height: 37.0625rem;    /* 593px*/
    left: 61.25rem;     /* 980px*/
    top: 6rem;       /* 96px*/
  }


  #little-circle {

    box-sizing: border-box;

    position: absolute;
    width: 5.3125rem;   /* 85px*/
    height: 5.3125rem;  /* 85px*/
    left: 90.25rem;  /* 1444px*/
    top: 12.75rem;    /* 204px*/
    border: 28px solid #FFFFFF;
    border-radius: 50%;
    
    
  }

  

  


  /* #lady-picture {
    position: absolute;
    width: 34.3125rem;
    height: 37.0625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
   */
/* 4444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444 */


#section-four {
  
  margin: 0;
  position: absolute;
  width: 120rem;
  background-color: #FFFFFF;
  height: 49.625rem;
  top: 133.0625rem;
  left: 0;
  overflow: hidden;
}

#header-section-four {
  position: absolute;
  width: 18rem;
  height: 3.1875rem;
  left: 51rem;
  top: 5.0625rem;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.1875rem;
  text-align: center;

color: #333333;
}

#first-paragraph-section-four {
  position: absolute;
  width: 71.25rem;
  height: 4.875rem;
  left: 24.375rem;
  top: 10rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  text-align: center;

color: #333333;
}

#second-paragraph-section-four {
  position: absolute;
  width: 71.25rem;
  height: 4.875rem;
  left: 24.375rem;
  top: 16.4375rem;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;

  text-align: center;

  color: #333333;
}

.six-people-image {
  position: absolute;
  width: 65.6875rem;
  height: 20.834375rem;
  left: 27.1875rem;
  top: 28.816875rem;

  
}

#btn-section-four {
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.625rem 0.875rem;
  gap: 0.625rem;

  position: absolute;
  width: 13.4375rem;
  height: 2.5rem;
  left: 53.25rem;
  top: 23.4375rem;

  background: #DD71C6;

}

.btn-four-txt {
  width: 11.6875rem;
  height: 1.25rem;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;

  display: flex;
  align-items: center;
  text-align: center;


  color: #FFFFFF;



  flex: none;
  order: 0;
  flex-grow: 0;

}



#btn-section-four:hover{
  background: #ab3b93;
}


.image-container-of-mobile-six-people {
  visibility: hidden;
}


.six-people-mobile {
  visibility: hidden;;
}

#first-paragraph-section-four-mobile {
visibility: hidden;
}

#second-paragraph-section-four-mobile {
visibility: hidden;
}

#btn-section-four-mobile {
visibility: hidden;
}

.btn-four-txt-mobile {
  visibility: hidden;
}

.mobile-ellipse-section-four {
  visibility: hidden;
}



/* 555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555 */

   /* *********************************************************************************************************************************** */


@media (max-width: 400px) {


  #about-us {
    display: none;
    /* visibility: hidden; */
  }

  #book-online {
    display: none;
    /* visibility: hidden; */
  }

  #weight-loss-programs {
    display: none;
    /* visibility: hidden; */
  }

  #real-patient-stories {
    display: none;
    /* visibility: hidden; */
  }

  #locations {
    display: none;
    /* visibility: hidden; */
  }

  #blog {
    display: none;
    /* visibility: hidden; */
  }

  #shop {
    display: none;
    /* visibility: hidden; */
  }

  #subscription {
    display: none;
    visibility: hidden;
  }


  .chicago-div {
    display: none;
    /* visibility: hidden; */
  }

  .limited-spots-txt {
    display: none;
    /* visibility: hidden; */
  }

  body {
    margin: 0;
    padding: 0;
    /* width: 23.4375rem; */
    width:100%


  }

  #section-one {

    position: absolute;
    background-image: none;
    background-color: #F5F5F5;
    overflow: hidden;


    /* width: 23.44rem; */
    width: 100%;
    height: 48rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

    /* background: linear-gradient(to right, #F5F5F5 0%, #F5F5F5 48.5%, #FFD900 48.5, #FFD900 100%);

    border-radius: 0px 0px 50px 0px; */


    display: flex;

    

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  #yellow-background {
    /* background: linear-gradient(to right, #FFD900 0%, #FFD900 50%, #FFD900 50%, #FFD900 100%); */
    background-color: #FFD900;
    border-radius: 50px 0px 0px 0px;
    position: absolute;
    top: 0;
    left: 48.5%;
    width: 51.5%;
    height: 100%;
  }

  #ellipse-mobile-first-block {

    box-sizing: border-box;

    position: absolute;
    width:  13.875rem;
    height:  13.875rem;
    left: 13.3125rem;
    top: 9.4375rem;

    opacity: 0.15;
    border: 28px solid #FFFFFF;

    border-radius: 50% / 50%;
    -webkit-clip-path: ellipse(111px 111px at center);
    clip-path: ellipse(6.9375rem 6.9375rem at center);
  }



  #mobile-menu {
    visibility: visible;
    position: absolute;
    width: 1.56rem;
    height: 1.10rem;
    left: 20.62rem;
    top: 1.81rem;
  }

  #chicago-mobile {
    visibility: visible;
    position: absolute;
    width: 17.56rem;
    height: 12rem;
    left: 2.94rem;
    top: 6.37rem;


    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.87rem;
    line-height: 150%;
    color: #333333;
    


  }

  #limited-spots-mobile-block {
    visibility: visible;
    position: absolute;
    width: 17.5625rem;
    height: 6.5rem;
    left: 2.93rem;
    top: 33.6875rem;

  }

  #limited-spots-mobile-txt {

    visibility: visible;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;


    color: #333333;
  }


  #only-spot-mobile {
    visibility: visible;
    position: absolute;
    width: 17.56rem;
    height: 1.1875rem;
    left: 2.9375rem;
    top: 19.5625rem;

  }

  #only-spot-txt-mobile {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;

    line-height: 158.4%;

    text-align: center;

    color: #333333;

  }

  #number-mobile {

    color: #DD71C6;

  }

  #group45 {
    position: absolute;
    width: 5.56rem;
    height: 2.5rem;
    left: 1.25rem;
    top: 1.12rem;
  }


  #frame63 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1.62rem 2.25rem; */
    gap: 10px;

    position: absolute;
    width: 17.56rem;
    height: 9.94rem;
    left: 2.94rem;
    top: 21.94rem;

    background: linear-gradient(107.9deg, rgba(255, 255, 255, 0.51) 9.7%, rgba(255, 255, 255, 0.49) 88.76%);
    /* box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(20px);
    border-radius: 30px;
    overflow: hidden;
  }

  .btn {
    cursor: pointer;
    border: none;


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.62rem 0.87rem;
    gap: 0.62rem;

    position: absolute;
    width: 13.4375rem;
    height: 2.5rem;
    left: 5rem;
    top: 42.875rem;

    background: #DD71C6;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

  }

  .btn-txt {
    width: 11.6875rem;
    height: 1.25rem;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;

    /* display: flex; */
    align-items: center;
    text-align: center;
    top: 0.625rem;
    left: 0.875rem;

    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #section-two {
    margin: 0;
    position: absolute;
    background-image: none;
    width: 100%;
    height: 31.75rem;
    left: 0px;
    top: 48rem;
    /* background-color: #DD71C6; */
    background-image: url(/png/mobile-version/Banner&get\ to\ know\ us.png);
    /* background-position: center; */
    background-size: cover;
  
    display: flex;
  }

  /* #pink-background {
    display: none;
  } */

  #pink-background {

    background-color: #DD71C6;
    position: absolute;
    top: 79%;
    width: 100%;
    height: 21%;
}

/* #btn-section-two {
  display: none;
} */

#btn-section-two {
  cursor: pointer;
   border: none;


   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0.625rem 0.875rem;
   gap: 0.625rem;

   position: absolute;
   width: 13.4375rem;
   height: 2.5rem;
   left: 5rem;
   top: 26rem;
   background: #FFD900; 
}

  


   /* display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 10px 14px;
   gap: 10px;

   position: absolute;
   width: 215px;
   height: 40px;
   left: 80px;
   top: 416px;

   background: #FFD900;
   ; */

   /* .btn-two-txt {
    display: none;
   } */

.btn-two-txt {
    width: 11.6875rem;
    height: 1.25rem;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;

    align-items: center;
    text-align: center;
    top: 0.625rem;
    left: 0.875rem;

    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0;
}

#btn-section-two:hover{
  background: #ab3b93;
}

#section-three {
  margin: 0;
  position: absolute;
  width: 100%;
  background-color: #73C3F4;
  height: 68.75rem;
  top: 79.75rem;
  left: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

}

#left-ellipse {
  display: none;
}

#left-container {
  flex: 1;
  width: 100%;
}

#right-container {
  flex: 1;
  width: 100%;

}


/* #mobile-lady-picture {
  visibility: visible;
  width: 20.125rem;
  height: 22.6875rem;
  left: 1.25rem;
  top: 41.75rem;

} */

.mobile-version-girl {
  visibility: visible;
  position: absolute;
  width: 20.125rem;
  height: 22.6875rem;
  left: 1.25rem;
  top: 41.75rem;
}

/* #lady-picture {
  display:flow-root;
} */

#little-mobile-ellipse {
  box-sizing: border-box;
  position: absolute;
  width: 336px;
  height: 336px;
  left: 277px;
  top: 54px;
  opacity: 0.15;
  border: 28px solid #FFFFFF;
  border-radius: 50%;
}



#heading-one-mobile {
  visibility: visible;
  position: absolute;
  width: 17.5625rem;  /*  281px*/
  height: 4.75rem;   /* 76 px*/
  left: 2.9375rem;    /*  47px*/
  top: 4.625rem;     /*  74px*/
  
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;    /*  24px*/
  /* line-height: 160%; */
  /* or 38px */
  
  
  color: #FFFFFF;
}

#paragraph-one-mobile {
  visibility: visible;
  position: absolute;
  width: 17.5625rem;    /* 281px */
  height: 8.5rem;   /* 136px */
  left: 3.3125rem;     /* 53px */
  top: 10.8125rem;      /*173px  90.5625rem - 1449px, to je greska u figmi jer meri do vrha stranice, u stvari je 173px */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;   /* 14px*/
  line-height: 1.375rem; /* 22px or 160% */
  /* line-height: 26px; */
  color: #FFFFFF;

}

#heading-two {
  position: absolute;
  width: 17.5625rem;  /*281px  */
  height: 2.375rem;   /* 38px */
  left: 2.9375rem;   /*47px  */
  top: 21.9375rem;    /*351px  */
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;  /* 24px*/
  /* line-height: 38px; */
  color: #FFFFFF;

}

#paragraph-two-mobile {
  visibility: visible;
  position: absolute;
  width: 17.5625rem; /*281px*/
  height: 8.9375em;    /* 143px*/
  left: 3.3125rem;            /* 53px */
  top: 25.25rem;          /* 404px */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem; /* 14px */
  /* line-height: 26px; */
  color: #FFFFFF;

}

#btn-section-three {

  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.625rem 0.875rem;
  gap: 0.625rem;

  position: absolute;
  width: 13.4375rem;
  height: 2.5rem;
  left: 5rem;
  right: 5rem;
  top: 35.9375rem;

  background: #DD71C6;

}

.btn-three-txt {
  width: 11.6875rem;
  height: 1.25rem;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;

  /* display: flex; */
  align-items: center;
  text-align: center;
  /* top: 0.62rem;
  left: 0.87rem; */

  color: #FFFFFF;



  flex: none;
  order: 0;
  flex-grow: 0;

}



#btn-section-three:hover{
  background: #ab3b93;
}

#section-four {
  margin: 0;
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  height: 83.5625rem;
  top: 148.5rem;
  left: 0;
  overflow: hidden;

}

.mobile-ellipse-section-four {
  visibility: visible;
  box-sizing: border-box;
  position: absolute;
  width: 18.0625rem;
  height: 18.0625rem;
  left: 12.125rem;
  top: 4.6875rem;
  border: 20px solid #F9F9F9;
  border-radius: 50%;
  z-index: 1;
}

#header-section-four {
  position: absolute;
  width: 17.5625rem;
  height: 2.375rem;
  left: 0.9375rem;
  top: 2.875rem;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.375rem;
  /* text-align: center; */

color: #333333;
}

#first-paragraph-section-four-mobile {
  visibility: visible;
  position: absolute;
  width: 17.5625rem;
  height: 24.75rem;
  left: 2.9375rem;
  top: 7.625rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 169.5%;
  color: #333333;
  z-index: 2;
}

#second-paragraph-section-four-mobile {
  visibility: visible;
  position: absolute;
  width: 17.5625rem;
  height: 17.875rem;
  left: 2.9375rem;
  top: 55.5rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #333333;
}

.image-container-of-mobile-six-people {
  visibility: visible;
  position: relative;
  /* display: inline-block; */
  /* width: 23.4375rem; */
  /* width: 100%; */
  width: 25rem;
  height: 15.5625rem;
  left: 0px;
  top: 36.0625rem;
}

.six-people-mobile {
  visibility: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  /* width: 23.4375rem;
  height: 15.5625rem; */
}

#btn-section-four-mobile {
  visibility: visible;
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.625rem 0.875rem;
  gap: 0.625rem;

  position: absolute;
  width: 11.3125rem;
  height: 2.5rem;
  left: 6.0625rem;
  top: 77.1875rem;

  background: #DD71C6;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)

}

.btn-four-txt-mobile {
  visibility: visible;
  width: 9.5625rem;
  height: 1.25rem;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;

}

#btn-section-four-mobile:hover{
  background: #ab3b93;
}





}






  /* *********************************************************************************************************************************** */

