body, html {
  margin: 0;
  padding: 0;
}



/* header {
  position: absolute;
  width: 138px;
  height: 62.09px;
  left: 390px;
  top: 20px;
} */

/* #first-block {
  height: 760px;
  width: 1920px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #F9F9F9;
  position: relative;
} */


#first-block {
  position: absolute;
  width: 1920px;
  height: 760px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#group45 {
  position: absolute;
  width: 138px;
  height: 62.09px;
  left: 390px;
  top: 20px;
}



#about-us {
  position: absolute;
  width: 66px;
  height: 17px;
  left: 581px;
  top: 39px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}


#book-online {
  position: absolute;
  width: 87px;
  height: 17px;
  left: 683px;
  top: 39px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

#weight-loss-programs {
  position: absolute;
  width: 159px;
  height: 17px;
  left: 806px;
  top: 39px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

#real-patient-stories {
  position: absolute;
  width: 137px;
  height: 17px;
  left: 1001px;
  top: 39px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

#locations {
  position: absolute;
  width: 68px;
  height: 17px;
  left: 1174px;
  top: 39px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #333333;
}

#blog {
  position: absolute;
  width: 33px;
  height: 17px;
  left: 1278px;
  top: 39px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

/* #chicago-txt {
  position: absolute;
  width: 437px;
  height: 272px;
  left: 390px;
  top: 203px;
  bottom: 285px;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 150%; */
/* or 68px */


  /* color: #333333; }*/
  /* #DD71C6; */
.chicago-div {
  position: absolute;
  width: 437px;
  height: 272px;
  left: 390px;
  /* top: 203px; */
  top: 147px;
}

.chicago-txt {
  position: absolute;

font-family: 'Libre Baskerville', serif;
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 150%;
color: #333333;
}

.free {
color: #DD71C6;
}


.limited-spots-txt {
  position: absolute;
  width: 459px;
  height: 78px;
  left: 390px;
  /* top: 501px; */
  top: 474px;


  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
/* or 26px */


color: #333333;
}

.btn {
  cursor: pointer;
  border: none;


  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 14px;
  gap: 10px;

  position: absolute;
  width: 215px;
  height: 40px;
  left: 390px;
  top: 605px;

  background: #DD71C6;

}

.btn-txt {
  width: 187px;
  height: 20px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  /* display: flex; */
  align-items: center;
  text-align: center;
  top: 10px;
  left: 14px;

  color: #FFFFFF;



  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn:hover{
  background: #ab3b93;
}


/* .book-my-appointment {
  align-self: hover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 14px;
  gap: 10px;
  position: absolute;
  width: 215px;
  height: 40px;
  left: 390px;
  bottom: 105px;
  background: #DD71C6;
} */


/* .chicago-txt {
  position: absolute;
  width: 437px;
  height: 272px;
  left: 390px;
  top: 203px;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 68px;
  color: #333333;
  text-align: left;
}

.free {
  color: #DD71C6;
} */




/* #rectangle10 {
  height: 760px;
  width: 590px;
  left: 1330px;
  top: 0px;
  background: #FFD900;
  position: absolute;
  border-radius: 50px 0px 0px 0px;
} */

#shop {
  position: absolute;
  width: 37px;
  height: 17px;
  right: 536px;
  /* left: 1347px; */
  top: 39px;
  /* right: 536px; */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
 }

 #subscription {
  position: absolute;
  width: 89px;
  height: 17px;
  /* left: 1420px; */
  right: 411px;
  top: 39px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #333333;
  text-align: left;
}


/* .frame63-container {
  position: absolute;
  width: 629px;
  height: 321px;
  left: 901px;
  top: 182px;
}
.frame63 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 41px 36px;
  gap: 10px;
  background: linear-gradient(107.9deg, rgba(255, 255, 255, 0.51) 9.7%, rgba(255, 255, 255, 0.49) 88.76%);
  backdrop-filter: blur(33.5px);
  border-radius: 50px;
  width: 100%;
  height: 100%;
} */

#frame63 {
  position: absolute;
  width: 629px;
  height: 321px;
  /* left: 901px; */
  right: 390px;
  top: 182px;
  bottom: 257px;
  background: linear-gradient(107.9deg, rgba(255, 255, 255, 0.51) 9.7%, rgba(255, 255, 255, 0.49) 88.76%);
  backdrop-filter: blur(33.5px);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 41px 36px; */
}

/* #ellipse28 {
 position: absolute;
 width: 436px;
 height: 436px;
 right: -167px;
 top: 123px;
} */


/* #ellipse27 { */
  /* height: 386px;
  width: 386px;
  left: -91px;
  top: 187px;
  border: 28px solid #FFFFFF;
  background: #FFFFFF;
  box-sizing: border-box;
  position: absolute;
  border-radius: 0px; */

  /* position: absolute;
  width: 386px;
  height: 386px;
  left: -91px;
  top: 187px;
} */

 /* *********************************************************************************************************************************** */

@media (max-width: 820px)  {

  #about-us {
    display: none;
  }

  #book-online {
    display: none;
  }

  #weight-loss-programs {
    display: none;
  }

  #real-patient-stories {
    display: none;
  }

  #locations {
    display: none;
  }

  #blog {
    display: none;
  }

  #shop {
    display: none;
  }

  #subscription {
    display: none;
  }


  .chicago-div {
    display: none;
  }

  .limited-spots-txt {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    width: 51.25rem;


  }

  #header-tablet {
    width: 51.25rem;
    height: 5.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    /* padding: 0.5%; */
  }

  #logo {
    position: absolute;
    width: 138px;
    height: 62.09px;
    left: 82px;
    top: 22px;
  }
  
  .menu-btn {
    width: 1.5625rem;
    height: 0.121875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }
  
  .menu-btn spam {
    width: 100%;
    height: 3px;
    background-color: #DD71C6;
  }

  #first-block {

    position: absolute;
    background-image: none;
    background-color: #F5F5F5;
    overflow: hidden;


    /* width: 23.44rem; */
    width: 100%;
    height: 54.9375rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

    display: flex;

    

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  #yellow-background {
    /* background: linear-gradient(to right, #FFD900 0%, #FFD900 50%, #FFD900 50%, #FFD900 100%); */
    background-color: #FFD900;
    border-radius: 50px 0px 0px 0px;
    position: absolute;
    top: 0;
    left: 47.5%;
    width: 52.5%;
    height: 100%;
    top: 5.875rem;

    /* position: absolute;
width: 430px;
height: 785px;
left: 390px;
top: 94px;

background: #FFD900;
border-radius: 50px 0px 0px 0px; */
  }

  #frame63 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1.62rem 2.25rem; */
    gap: 10px;

    position: absolute;
    width: 24.625rem;
    height: 13.9375rem;
    left: 13.3125rem;
    top: 24.5rem;

    background: linear-gradient(107.9deg, rgba(255, 255, 255, 0.51) 9.7%, rgba(255, 255, 255, 0.49) 88.76%);
    /* box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(20px);
    border-radius: 30px;
    overflow: hidden;
  }






}


/* *********************************************************************************************************************************** */
/* media media media media media media media media media media media media media media */
/* *********************************************************************************************************************************** */
@media (max-width: 820px) {
  body {
    margin: 0;
    padding: 0;
    width:100%
  }

  #about-us {
    display: none;
  }

  #book-online {
    display: none;
  }

  #weight-loss-programs {
    display: none;
  }

  #real-patient-stories {
    display: none;
  }

  #locations {
    display: none;
  }

  #blog {
    display: none;
  }

  #shop {
    display: none;
  }

  #subscription {
    display: none;
  }


  .chicago-div {
    display: none;
  }

  .limited-spots-txt {
    display: none;
  }

  #section-one {

    position: absolute;
    background-image: none;
    background-color: #F5F5F5;
    overflow: hidden;


    /* width: 23.44rem; */
    width: 100%;
    height: 54.9375rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

    display: flex;

    

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  #yellow-background {
    /* background: linear-gradient(to right, #FFD900 0%, #FFD900 50%, #FFD900 50%, #FFD900 100%); */
    background-color: #FFD900;
    border-radius: 50px 0px 0px 0px;
    position: absolute;
    top: 0;
    /* left: 47.5%;
    width: 52.5%; */
    left: 24.375rem;
    width: 26.875rem;
    height: 100%;
    top: 5.875rem;

  }

  #group45 {
    position: absolute;
    width: 8.625rem;
    height: 3.880625rem;
    left: 5.125rem;
    top: 1.375rem;
  }

  #menu-tablet {
    visibility: visible;
    position: absolute;
    width: 1.5625rem;
    height: 1.09875rem;
    left: 44.5625rem;
    top: 3.125rem;
  }

  /* .menu-icon {
    position: absolute;
    width: 1.5625rem;
    height: 1.09875rem;
    left: 44.5625rem;
    top: 3.125rem;
  }

  .menu-icon span {
    display: block;
    width: 2.5rem;
    height: 0.2rem;
    background-color: #333;
    margin: 0.5rem;
  } */






  #frame63 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1.62rem 2.25rem; */
    gap: 10px;

    position: absolute;
    width: 24.625rem;
    height: 13.9375rem;
    left: 13.3125rem;
    top: 24.5rem;

    background: linear-gradient(107.9deg, rgba(255, 255, 255, 0.51) 9.7%, rgba(255, 255, 255, 0.49) 88.76%);
    /* box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(20px);
    border-radius: 30px;
    overflow: hidden;
  }

  .btn {
    cursor: pointer;
    border: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.625rem 0.875rem;
    gap: 0.625rem;

    position: absolute;
    width: 13.4375rem;
    height: 2.5rem;
    left: 18.9375rem;
    top: 48.3125rem;

    background: #DD71C6;

  }

  .btn-txt {
    width: 11.6875rem;
    height: 1.25rem;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;

    /* display: flex; */
    align-items: center;
    text-align: center;
    top: 0.625rem;
    left: 0.875rem;

    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .btn:hover{
    background: #ab3b93;
  }



  #section-two {
    display: none;
  }

  #section-three {
    display: none;
  }

  #section-four {
    display: none;
  }





}



/* *********************************************************************************************************************************** */
/* media media media media media media media media media media media media media media */
/* *********************************************************************************************************************************** */
